@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BREAKING MOVIE NEWS</h1>
    <p class="lead">Movie Store</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movie News</h2>
        <p>
            The New Mutants film will do the comics and comic book fans justice says one of the movie’s stars. Twentieth Century Fox’s long-running X-Men franchise received its first true expansion last year with the release of Deadpool (following their first failed attempt with X-Men Origins: Wolverine). And now, they are pushing forward with even more mutant-related projects that don’t necessarily involve the core X-Men characters.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chose one</h2>
        <p>Aside from X-Men: Dark Phoenix and the franchise’s recent small-screen extension with FX’s Legion and FOX’s The Gifted, 20th Century Fox is currently in development on movies such as Gambit and X-Force,</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Triler</h2>
        <p>The New Mutants film will do the comics and comic book fans justice says one of the movie’s stars. Twentieth Century Fox’s long-running X-Men franchise received its first true expansion last year with the release of Deadpool (following their first failed attempt with X-Men Origins: Wolverine). And now, they are pushing.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>